html {
  font-family: helvetica;
}

main {
  text-align: center;
}

img {
  display: block;
  width: 400px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

ul {
  width: 50%;
  text-align: left;
  margin: 0 auto;
}

li {
  padding-bottom: 15px;
}
